body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .forward,
.slides-navigation .back {
    width: 43px;
    height: 43px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation .forward {
    left: 8px;
    /* background-image: url(../icons/forward.png); */
}

.slides-navigation .back {
    right: -8px;
    /* background-image: url(../icons/back.png); */
}

.title {
    position: absolute;
    width: 100%;
    height: 325px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.title .heading p {
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 10px;
}

.title .heading .main {
    text-transform: uppercase;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #34495e;
    font-weight: bold;

}

.title .heading .sub {
    font-size: 25px;

}

.section {
    padding: 100px 0;

}

.im {

    max-width: 100%;
    border-radius: 10px;
    border-color: #34495e;
}

.skillSec,
.contactSection,
.experience
 {
    background-color: #34495e;
    color: #fff;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    right: 0;
}

.chart .percent {
    color: yellow;
    line-height: 152px;
    display: inline-block;
    font-size: 40px;
}

.chart .bar .percent::after {
    content: '%';
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 20px 20px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.squareInnerContainer::before,
.squareInnerContainer::after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;

}

.squareInnerContainer::before {
    right: 0px;
}

.squareInnerContainer::after {
    left: 0px;
}

.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #34495e;

}

.squareContent h3 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -50px;
    width: 40%;
    height: 60%;
    font-size: 50px;
    margin-left: -50px;
    color: #34495e;
}

.contactB{
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.contactB:hover {
    text-decoration: none;
    color: #487eb0;
    background-color: white;
    border: #95a5a6;
}
.btdown{
        background-color: #34495e;
        color: #fff;
        padding: 15px 20px;
        display: inline-block;
        margin-top: 20px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-bottom: 20px;

}
.btdown:hover{
    text-decoration: none;
    color: black;
    background-color:#487eb0;
    border:#c12728;

}
.name{
    color: red;
}

.kont {
    color: #34495e;
}

#kontakt {
    max-width: 700px;
}

input {
    margin-bottom: 6px;
}

.filter a {
    color: #95a5a6;
    border: 2px solid #95a5a6;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #34495e;
    border-color: #95a5a6;
    color: white;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
    letter-spacing: 10px;
}

.filter #filters:hover a {
    text-decoration: none;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}

.items li img {
    width: 100%;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: white;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #34495e;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s linear, 0.5s;
    -moz-transition: all 0.2s linear, 0.5s;
    -o-transition: all 0.2s linear, 0.5s;
    -ms-transition: all 0.2s linear, 0.5s;
    transition: all 0.2s linear, 0.5s;

}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}

.copyrightSection {
    background-color: #000;
    color: white;
    padding: 30px 5px;
}

.copyrightSection p {
    margin: 0;
}

#navigation {
    background-color: #34495e;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-toggler-icon {
    color: white;
    /* background-image: url(../icons/menu.png); */
}


.navbar-flat a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #f7f8f8;
    -webkit-transition: all 0.3s ease-in, 1s;
    -moz-transition: all 0.3s ease-in, 1s;
    -o-transition: all 0.3s ease-in, 1s;
    -ms-transition: all 0.3s ease-in, 1s;
    transition: all 0.3s ease-in, 1s;
}

.navbar-flat li a:hover {
    background: #c12728;
    color: white;
}

.navbar-flat li.active a {
    background: #c12728;
    color: white;
}


.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../icons/loader.gif) center center no-repeat;

    }

.aboutText {
    font-size: 20px;

}

.spa {
    font-size: 30px;
    height: 30px;
    width: 40px;
    letter-spacing: 4px;

}

/*  Time line */

.timeline {
    max-width: 1200px;
    margin: auto;
    position: relative;

}

.timeline:after {
    content: '';
    position: absolute;
    width: 6px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

#cont {
    width: 50%;
    padding: 10px 30px;
    position: relative;


}


#cont:after {
    content: '';
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    right: -10px;
    border: 4px solid #c12728;
    z-index: 14;
    top: 20px;
}


.content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 7px;
    color: #34495e;

}

.content:hover {
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
}

.innercontent:hover {
    -webkit-transform: scale(1.04, 1.04);
    -moz-transform: scale(1.04, 1.04);
    -o-transform: scale(1.04, 1.04);
    -ms-transform: scale(1.04, 1.04);
    transform: scale(1.04, 1.04);
}

.left {
    left: 0;
    animation: 0.2s;
}

.right {
    left: 50%;
    animation: 0.4s;
}

.right:after {
    left: -10px;
}

/* traingle */

.left:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 10px;
    top: 22px;
}

.right:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: 10px;
    top: 22px;
}

/* media */

@media(max-width:800px) {
    .timeline:after {
        left: 20px;
    }

    #cont {
        width: 100%;
        padding-left: 70px;
        padding-right: 20px;
    }

    #cont:after {
        left: 3px
    }

    .right {
        left: 0;
    }

    .left:before,
    .right:before {
        border-right: 10px solid #fff;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: 50px;
        top: 22px;
    }
}

.timeline #cont:nth-child(1) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
}

.timeline #cont:nth-child(2) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
}

.timeline #cont:nth-child(3) {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
}

.timeline #cont:nth-child(4) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
}

.timeline #cont:nth-child(5) {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
}

.h2ps {
    font-size: 16px;

}

.h2p {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}



/* #map {
    float: left;
    width: 100%;
    height: 390px;
    border-top: 4px solid #d82c2e;
} */
.prog{
    background: #34495e;

    
}

.innerprog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    position: relative;
    color: white;
    margin-bottom: -10%;
}

.NO, .EN, .FA{
    padding: 20px;
  
}
.bar p:nth-child(1){
    float: right;
}
.bar{
    margin-left: 4px;
    padding-bottom: 20px;
    background: #353b48;
    display: block;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 4px 3px 14px 3px #067be9b3;
    width: 360px;
    
}
.bar:hover {
    -webkit-transform: scale(1.04, 1.04);
    -moz-transform: scale(1.04, 1.04);
    -o-transform: scale(1.04, 1.04);
    -ms-transform: scale(1.04, 1.04);
    transform: scale(1.04, 1.04);
}
.bar span{
    height: 20px;
    float: left;
    background: #2187e7;
    -webkit-transition: all 0.3s ease-in, 1s;
    -moz-transition: all 0.3s ease-in, 1s;
    -o-transition: all 0.3s ease-in, 1s;
    -ms-transition: all 0.3s ease-in, 1s;
    transition: all 0.3s ease-in, 1s;

}
.bar span:hover{
    background: #c12728;
   
        -webkit-transform: scale(1.01, 1.01);
        -moz-transform: scale(1.01, 1.01);
        -o-transform: scale(1.01, 1.01);
        -ms-transform: scale(1.01, 1.01);
        transform: scale(1.01, 1.01);
    }

.norsk{
    
    width: 80%;
    animation: norsk 2.3s;

}
.english{
    width: 70%;
    animation: english  4.5s;

}
.farsi{
    width: 90%;
    animation: farsi  6.3s;

}
@keyframes norsk{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
        
    }
}
@keyframes english{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes farsi{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

